<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Wander</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>nmap</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wander utilise votre position pour révéler votre carte et mettre à jour les fonctions entre amis lorsque l’exploration est active.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Wander utilise votre position en arrière-plan pour poursuivre une exploration et mettre à jour les fonctions entre amis.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
